#main-slide .carousel-caption {
    background-color: #00000059;
  }

  .footer-area .footer-social li .github:hover {
        background-color: #00000059;
  }

  .carousel-caption p.wow {
    font-weight:900;
  }
